<h3 style='color:blue' align='center'>Implement mini batch gradient descent</h3>

In [2]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
%matplotlib inline

df = pd.read_csv("homeprices_banglore.csv")
df.sample(5)

    area  bedrooms  price
17  1540         3   60.0
15  1175         2   42.0
5   1170         2   38.0
1   2600         4  120.0
8   1310         3   50.0